/* For testing only  - Leroi Dejesa */

*:not(body):not(html) {
  box-sizing:border-box;

}

.columns, .fixed {
  min-height: 100px;
}
/* End for testing */

/*
dark color: #0e3b43
red color: #bb0a21
yellow green: #f7b32b
*/


/* D3 code for fun


*/


body {
  font-family: 'Luminari';
}

h1 {color: black;}
h2 {color: black;}
h3 {color: black;}


.container {
  width: 100vw;
  height: 100vh;
  padding: 0;
}

.box {
  width: 90vw;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
}

.fixed {
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: #334;
  width: 100%;
  font: #eee;
}

.flexed {
  display: flex;
  justify-content: space-around;
}

.flexed li {
  margin: 1em;
  font-size: 1.3em;
  text-align: center;
  list-style-type: none;
}

#boxb {
  background-color: #0e3b43;
  margin-top: 95px;
  width: 95%;
  height: 150px;
}
#box1 {
  background-color: #bb0a21;
}
#box2 {
  background-color: #f7b32b;
}
#box3 {
  background-color: #bb0a21;
}
#box4 {
  background-color: #f7b32b;
}
#box5 {
  background-color: #bb0a21;
}
#box6 {
  background-color: #f7b32b;
}
#boxf {
  background-color: #0e3b43;
}


/* D3 test
.chart {
  font: 10px sans-serif;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: steelblue;
  margin-top: 200px;
}*/

/*Universal Selectors****************/
/*Class Selectors********************/
/*Id Selectors***********************/

/*Media Queries**********************/
/*mobile (first)*/
@media screen and (max-width: 600px){
  .flexed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
  #boxb {
    margin-top: 212px;
    margin-left: auto;
    margin-right: auto;
  }
  .flexed li {
    margin: .5em;
    font-size: 1em;
  }
  .box {
    height: 150px;
    padding: 0;
  }
}
/*tablet*/
@media screen and (min-width: 601px) and (max-width: 800px) {
  #boxb {
    margin-top: 112px;
    margin-left: auto;
    margin-right: auto;
  }
  /*box numbering backwards, beware*/
  .box:nth-child(even) {
    width: 45vw;
    float: left;
    margin-left: 4vw;
  }
  .box:nth-child(odd) {
    width: 45vw;
    float: right;
    margin-right: 4vw;
  }
}
/*desktop*/
@media screen and (min-width: 801px){
  #boxb {
    margin-top: 112px;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
  }

  #box1, #box4 {
    margin-left: 10vw;
  }

  .box {
    height: 250px;
  }

  .box:nth-child(n+3) {
    width: 25vw;
    float: left;
    margin: 1vw;
  }

  .box:nth-child(-n+3) {
    width: 25vw;
    float: left;
    margin: 1vw;
  }
}
