/* For testing only  - Leroi Dejesa */

*:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed firebrick;
}

.columns, .fixed {
  min-height: 100px;
}
/* End for testing */

/*
dark color: #0e3b43
red color: #bb0a21
yellow green: #f7b32b
*/


/* D3 code for fun


*/


body {
  font-family: 'Luminari';
}

h1 {color: black;}
h2 {color: black;}
h3 {color: black;}


.container {
  width: 100vw;
  height: 100vh;
  padding: 0;
}

.box {
  width: 90vw;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
}

.fixed {
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: #334;
  width: 100%;
  font: #eee;
}

.flexed {
  display: flex;
  justify-content: space-around;
}

.flexed li {
  margin: 1em;
  font-size: 1.3em;
  text-align: center;
  list-style-type: none;
}

#boxb {
  background-color: #0e3b43;
  margin-top: 95px;
  width: 95%;

}
#box1 {
  background-color: #bb0a21;
}
#box2 {
  background-color: #f7b32b;
}
#box3 {
  background-color: #bb0a21;
}
#box4 {
  background-color: #f7b32b;
}
#box5 {
  background-color: #bb0a21;
}
#box6 {
  background-color: #f7b32b;
}
#boxf {
  background-color: #0e3b43;
}


/* D3 test
.chart {
  font: 10px sans-serif;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: steelblue;
  margin-top: 200px;
}*/

/*Universal Selectors****************/
/*Class Selectors********************/
/*Id Selectors***********************/

/*Media Queries**********************/

@media screen and (max-width: 600px){
  .flexed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
  #boxb {
    margin-top: 212px;
  }
  .flexed li {
    margin: .5em;
    font-size: 1em;
  }
}

@media screen and (min-width: 601px) and (max-width: 800px) {
  #boxb {
    margin-top: 114px;
  }
}

@media screen and (min-width: 801px){

}
